<h1>Help</h1>

<h2>Project Management</h2>
<p>All of the configuration information for a single dashboard is contained within a project. For help with creating or managing project information, <%=link_to "Click Here", "/help/projects/" %>.</p>

<h2>Page Management</h2>
<p>A dashboard can be divided up into pages, which an end-user can navagate between. For help managing these pages, <%=link_to "Click Here", "/help/pages/" %>.</p>

<h2>Data Source Management</h2>
<p>Data sources are the ways Dashboari provides you of getting data into your dashboards. For more help setting up these data sources, <%=link_to "Click Here", "/help/sources/" %>.</p>

<h2>Function Management</h2>
<p>Functions give you a way of manipulating data from inside a dashboard. For help with setting up or managing these functions, <%=link_to "Click Here", "/help/functions/" %>.</p>

<h2>The Page Editor</h2>
<p>Editing Pages of your dashboards in Dashboardi is handled through a Drag and Drop editor. For hekp with this editor, <%=link_to "Click Here", "/help/editor/" %>.</p>

<h2>Panels</h2>
<p>Panels are the individual tiles which make up the pages of a dashboard. <%=link_to "More Info", "/help/panels/" %></p>