<fieldset>
<%= f.label field.name %>
<%= f.fields_for field.name do |builder| %>
	<% properties[field.name].each do |value, index| %>
		<span class="dyn_field">
		<%= builder.text_field index, value: value %> 
		<%= link_to "remove", '#', class: "remove_fields_dyn" %> | 
		</span>
	<% end %>
<% end %>
<%= link_to_add_fields_dyn f, field.name, "editor/property_fields/string_array_field" %>
</fieldset>