<p id="notice"><%= notice %></p>

<p>
  <strong>Constant:</strong>
  <%= @comparison_function.constant %>
</p>

<p>
  <strong>Input key:</strong>
  <%= @comparison_function.input_key %>
</p>

<p>
  <strong>Second input:</strong>
  <%= @comparison_function.second_input %>
</p>

<p>
  <strong>Function:</strong>
  <%= @comparison_function.function %>
</p>

<p>
  <strong>Output key:</strong>
  <%= @comparison_function.output_key %>
</p>

<p>
  <strong>Project:</strong>
  <%= @comparison_function.project %>
</p>

<%= link_to 'Edit', edit_comparison_function_path(@comparison_function) %> |
<%= link_to 'Back', comparison_functions_path %>
