<div>Time Series Panel</div>
<div>Range: <%= panel.properties['ymin']  %> - <%= panel.properties['ymax']  %></div>
<div>Resolution: <%= panel.properties['resolution']  %></div>
<div>Refresh Rate: <%= panel.properties['refreshRate']  %></div>
<div>Keys: <%= panel.properties['keys']  %></div>