<p id="notice"><%= notice %></p>

<p>Page: <%= @panel.page.name %></p>

<p>X: <%= @panel.x %></p>

<p>Y: <%= @panel.y %></p>

<% @panel.panel_type.panel_fields.each do |field| %>
	<p>
		<strong><%= field.name %>: </strong>
		<%= @panel.properties[field.name] %>
	</p>
<% end %>

<%= link_to 'Edit', edit_panel_path(@panel) %> |
<%= link_to 'Back', @panel.page %>
