<%= form_for [@project, @mapping_function] do |f| %>
  <% if @mapping_function.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mapping_function.errors.count, "error") %> prohibited this mapping_function from being saved:</h2>

      <ul>
      <% @mapping_function.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :input_key %><br>
    <%= f.text_field :input_key, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :output_key %><br>
    <%= f.text_field :output_key, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :default_value %><br>
    <%= f.text_field :default_value, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Range Mappings" %>
    <%= f.fields_for :range_mappings do |builder| %>
      <%= render 'range_mapping_fields', f: builder %>
    <% end %>
  </div>

  <%= link_to_add_fields "Add Range Mapping", f, :range_mappings %>

  <div class="actions">
    <%= f.submit class: "btn btn-block btn-primary" %>
  </div>
<% end %>
