
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :screensize_x, "Target Screen Size" %><br>
    <%= f.text_field :screensize_x, class: "form-control", placeholder: 'Width in pixels' %>
    <%= f.text_field :screensize_y, class: "form-control", placeholder: 'Height in pixels' %>
  </div>

  <div class="form-group">
    <%= f.label :private, "Make project visible to others?" %><br>
    <%= f.select :private, options_for_select([["Private", true],["Public", false]]), class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>