<p id="notice"><%= notice %></p>

<h1><%= best_in_place @project, :name %></h1>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @project.protocol %>
</p>

<p>
  <strong>Connection Address:</strong>
  <%= @project.connection_address %>
</p>

<h2>Pages</h2>
<ul>
<% @project.pages.each do |page| %>
	<li><%= link_to page.name, page %> | <%= link_to "Open in Editor", editor_path(page) %></li>
<% end %>
</ul>
<%= link_to 'Run', visualisation_path(project_id: @project.id) %> | 
<%= link_to 'Edit Details', edit_project_path(@project) %>
