<div class="workspace" data-pageID="<%= @page.id %>">
	<div class="workspace-inner" style="height:<%= @page.project.screensize_y %>px; width:<%= @page.project.screensize_x %>px;">
	<% @page.panels.each do |panel| %>
		<%= render partial: "/editor/panel", locals: {panel: panel} %>
	<% end %>
	</div>
</div>

<div class="right_bar">

	<div class="run_now">
		<%= link_to "Run Now", @page, class: "btn btn-block btn-default btn-lg", target:"_blank"  %>
	</div>

	<div class="properties">
		<div class="header">PROPERTIES</div>
		<div class="properties_form"></div>
	</div>

	<div class="pages">
		<div class="header">CHANGE PAGE</div>
		<div class="pages_inner">
			<% @page.project.pages.each do |page| %>
				<div class="page_link<%if @page == page%> selected<%end%>"><%= link_to page.name, edit_page_path(page) %></div>
			<% end %>
		</div>
	</div>
</div>

<div class="palette">
<div class="header">PALETTE</div>
	<div class="palette_items">
	<% @palette.each do |pitem| %>
	  <div class="palette_item" data-paneltype="<%= pitem.id %>" data-content="<img src='<%= image_path('panels/' + pitem.name + '.png') %>' alt=''></img>"> <%= render_palette_item pitem %></div>
	<% end %>
	</div>
</div>