<!DOCTYPE html>
<html>
<head>
  <title>OpenVisu</title>
  <%= stylesheet_link_tag    "editor", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "editor", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="editor">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>

</body>
</html>
