<!DOCTYPE html>
<html>
<head>
  <title>OpenVisu</title>
  <%= yield %>
  <%= stylesheet_link_tag    "visualisation", media: "all" %>
  <%= javascript_include_tag "visualisation" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<div class="gridster"></div>

</body>
</html>
